<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<script defer src="/assets/main.js"></script>
		<link rel="stylesheet" href="/assets/main.css" />
	</head>
	<body>
		<nav>
			<a href="/">{{ site.title }}</a>

			<div>
				<p>Products</p>

				<ul>
					{% for product in site.products %}
						<li>
							<a href="{{ product.url }}">{{ product.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div>
				<ul>
					{% for page in site.pages %}
						<li>
							<a href="{{ page.url }}">{{ page.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</nav>

		<main>
			{{ content }}
		</main>

		<footer>
			&copy;2023 Bluth Fruit Company
		</footer>
	</body>
</html>
